.container {
  height: 100dvh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.game-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5em;
}

.player-cards-area {
  gap: 1rem;
  max-width: 100%;
  display: flex;
  flex-direction: row;
}

.battle-area {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
}

.player-one-battle-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-two-battle-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-slot {
  display: flex;
  justify-content: center;
}

.placeholder-cards-area {
  border: 3px dashed #4e4e4e;
  border-radius: 4px;
  padding: 10px;
  margin: 10px;
  width: 180px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
